#Ignore generated xcode project files

*.GetacOTA.xcscmblueprint
	
GetacOTA.xcodeproj/xcuserdata/alvin.xcuserdatad/xcdebugger/

*.UserInterfaceState.xcuserstate

GetacOTA.xcodeproj/xcuserdata/rsbu-aarontsai.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist


